.red {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: red;
  font-size: 25px;
  color: white;
}
.green {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: green;
  color: white;
  font-size: 25px;
}
.blue {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: blue;
  color: white;
  font-size: 25px;
}
