@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
/* 
===============
variables 
===============
*/
:root {
  --primaryColor: #f15025;
  --mainBlack: #222;
  --mainWhite: #fff;
  --ofWhite: #f7f7f7;
  --darkGrey: #afafaf;
  --manTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
}

/* 
===============
global styles
===============
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira Code", monospace;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}
/* button */
.btn {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  text-transform: capitalize;
  border: 3px solid var(--primaryColor);
  color: var(--primaryColor);
  margin: 3rem;
  transition: var(--manTransition);
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
/* 
===============
main Navbar 
===============
*/
.navbar {
  background: var(--darkGrey);
}
.nav-links {
  list-style-type: none;
  padding: 0 2rem;
}
.nav-link {
  text-decoration: none;
  color: var(--primaryColor);
  font-size: 1.5rem;
  display: block;
  padding: 1rem 0;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  transition: var(--manTransition);
}
.nav-link:hover {
  color: var(--mainBlack);
}
@media screen and (min-width: 768px) {
  .nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
}
/* 
===============
Hero 
===============
*/
.hero {
  min-height: 100vh;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: grid;
  justify-content: center;
  align-items: center;
}
.hero-text {
  width: 80vw;
  max-width: 560px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgba(255, 17, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(./images/pexels-nathan-cowley-1192671.jpg) center/cover no-repeat;
    padding: 0 2rem;
  }
}
/* 
===============
cards
===============
*/
.title {
  text-align: center;
}
.cards {
  padding: 1rem;
}
.cards-center {
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
}
.cards-center img {
  height: 15rem;
  object-fit: cover;
}
.card {
  border: 1px solid var(--darkGrey);
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.card-info {
  padding: 1rem;
}
.card-footer {
  display: grid;
  background: var(--darkGrey);
  padding: 0.5rem 1rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  color: var(--primaryColor);
}
@media screen and (min-width: 768px) {
  .cards-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .cards-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* 
===============
tiles
===============
*/
.tiles {
  padding: 4rem 0;
}
.tiles-center {
  width: 90vw;
  margin: 2rem auto;
  max-width: 1170px;
  display: grid;
  row-gap: 2rem;
}
.tile img {
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .tiles-center {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .tiles-center {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .tiles-center {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
      "a a a b"
      "a a a c"
      "d d d d"
      "e f f f"
      "e g h i";
  }
  .tile-1 {
    /* grid-area: 1/1/3/4; */
    grid-area: a;
  }
  .tile-2 {
    /* grid-area: 1/4/2/5; */
    grid-area: b;
  }
  .tile-3 {
    /* grid-area: 2/4/3/5; */
    grid-area: c;
  }
  .tile-4 {
    /* grid-area: 3/1/4/-1; */
    grid-area: d;
  }
  .tile-5 {
    /* grid-area: 4/1/-1/2; */
    grid-area: e;
  }
  .tile-6 {
    /* grid-area: 4/2/-2/-1; */
    grid-area: f;
  }
  .tile-7 {
    /* grid-area: 5/2/-1/3; */
    grid-area: g;
  }
  .tile-8 {
    /* grid-area: 5/3/-1/4; */
    grid-area: h;
  }
  .tile-9 {
    /* grid-area: 5/4/-1/5; */
    grid-area: i;
  }
}
/* 
===============
layout
===============
*/
.header {
  background: var(--primaryColor);
  color: var(--mainWhite);
  text-align: center;
  padding: 0.5rem 0;
}
.main-navbar {
  background: var(--darkGrey);
}
.links {
  list-style-type: none;
}
.link {
  padding: 1rem;
  display: inline;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  font-size: 1.2rem;
  color: var(--mainBlack);
  transition: var(--manTransition);
}
.link:hover {
  color: var(--mainWhite);
}
.section-text {
  padding: 2rem;
}
.section-text p {
  font-size: 1rem;
}
.sidebar {
  background: var(--primaryColor);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  color: var(--mainWhite);
  font-size: 1.2rem;
}
.footer {
  background: var(--mainBlack);
  color: var(--mainWhite);
  text-align: center;
  text-transform: capitalize;
  padding: 0.5rem 0;
}
.footer p {
  font-size: 1.2rem;
}
.section-center {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto auto;
}
@media screen and (min-width: 768px) {
  .links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    text-align: center;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .section-center {
    grid-template-columns: [start] 200px [col-1-end] 1fr [col-2-end] 50px [end];
    grid-template-rows: [start] auto [row-1-end] 1fr [row-2-end] auto [end];
  }
  .header {
    grid-column: start/end;
    grid-row: start/row-1-end;
  }
  .main-navbar {
    grid-column: start/col-1-end;
    grid-row: row-1-end/row-2-end;
  }
  .section-text {
    grid-column: col-1-end/col-2-end;
    grid-row: row-1-end/row-2-end;
  }
  .sidebar {
    grid-column: col-2-end/end;
    grid-row: row-1-end/row-2-end;
  }
  .footer {
    grid-column: start/end;
    grid-row: row-2-end/end;
  }
  .links {
    grid-template-columns: 1fr;
    align-items: center;
    min-height: 100%;
  }
  .sidebar {
    grid-template-columns: 1fr;
    align-items: center;
    min-height: 100%;
  }
}
