.logo {
  color: orange;
  font-size: 2rem;
}
img {
  width: 300px;
  height: 300px;
}
.header {
  font-size: 2.5rem;
}
.header span {
  color: rgb(12, 12, 129);
}
.footer {
  text-align: right;
  padding-top: 2rem;
}
@media (max-width: 592px) {
  .logo {
    text-align: center;
  }
  .header {
    text-align: center;
  }
  img,
  .card-text {
    width: 100%;
  }
}
@media (min-width: 593px) and (max-width: 772px) {
  .card-1 {
    width: 50%;
    float: left;
  }
  .card-2 {
    float: right;
    width: 50%;
  }
  .footer {
    clear: both;
  }
}
@media (min-width: 773px) {
  .card-1 {
    width: 50%;
    float: left;
  }
  img {
    float: left;
    margin-right: 1rem;
  }
  .card-2 {
    float: right;
    width: 50%;
  }
  .footer {
    clear: both;
  }
}
